<!-- 
  Copyright Contributors to the Amundsen project.
  SPDX-License-Identifier: Apache-2.0
-->

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Heychain</title>
    <link rel="icon" href="/static/images/favicons/heychain/favicon.svg">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body class="{{ env }}">
    <div id="content"/>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
