// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';

.not-found-page {
  h1 {
    text-align: center;
  }

  span {
    text-align: center;
    width: 100%;
  }
}